body {
	font-family: 'Open Sans', sans-serif;
}
.container-fluid{
	padding-left: 40px;
	padding-right: 40px;
}
.flexed{
	display: flex;
	align-items: center;
}
input:focus,
textarea:focus,
select:focus,
button:focus{
	outline:none;
}
/*Header*/

#topban{
	font-weight: 400;
	font-size: 18px;
	line-height: 133.18%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	padding: 14px 0;
	background: linear-gradient(90deg, #EEE7DA 21.6%, #C8B5A9 80.21%);
	font-family: 'Montserrat', sans-serif;
}
.top_info{
	background: #343F24;
	color:#fff;
	padding: 6px 0;
}
.minidrop{
	position: absolute;
	display: none;
}
.top_info .endpull{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.top_info .addr{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	padding-left: 26px;
	background: url('/image/seuvi/city_marker.svg')no-repeat left;
	color: #FFFFFF;
	margin-right: 22px;
}
.top_info .phone a{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	margin-right: 8px;
}
.top_info .phone{
	display: flex;
	align-items: center;
}
.top_info .phone .drop{
	cursor: pointer;
}
.top_delivery{
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
}
.top_user{
	padding-left: 32px;
	background: url('/image/seuvi/acc.svg')no-repeat left;
	margin-left: 50px;
}
.top_user a{
	font-size: 18px;
	line-height: 29px;
	color: #FFFFFF;
}
.topmenu ul{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.topmenu ul li{
	display: block;
	position: relative;
	margin-right: 20px;
}
.topmenu ul li.parent>a{
	padding-right: 32px;
	position: relative;
}
.topmenu ul li.parent>a:after{
	background: url('/image/seuvi/topmenu_drop.svg')no-repeat center;
	position: absolute;
	content: '';
	right: 0;
	top: 50%;
	width: 27px;
	height: 24px;
	margin-top: -12px;
	transform: rotate(180deg);
	transition: all .3s ease;
}
.topmenu ul li.parent a.active{
	transform: rotate(0deg);
}
.topmenu ul li a{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #343F24;
	transition: all .3s ease;
	text-decoration: none;
}
.topmenu ul.sub-menu li a:hover,
.topmenu ul li a:hover{
	color: #D72848;
}
.topmenu ul.sub-menu{
	position: absolute;
	min-width:220px;
	top: 100%;
	right: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(150, 147, 147, 0.25);
	border-radius: 5px;
	padding: 16px;
	z-index: 3;
	display: none;
}
.topmenu ul.sub-menu li{
	margin-right: 0;
	margin-bottom: 10px;
}
.topmenu ul.sub-menu li:last-child{
	margin-bottom: 0;
}
.topmenu ul.sub-menu li a {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1F1F1F;
}
#main_header{
	padding: 11px 0;
}
#main_header .flexed{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.lang button.dropdown-toggle{
	color:#fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
}
.lang .dropdown-toggle::after{
	border: 0!important;
	background: url('/image/seuvi/phone_drop.svg')no-repeat center;
	width:24px;
	height:24px;
}
.lang ul.dropdown-menu{
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgb(150 147 147 / 25%);
	border-radius: 5px;
}
.lang ul.dropdown-menu li a {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1F1F1F;
	text-decoration: none;
	transition: all .3s ease;
}
.lang ul.dropdown-menu li{
	margin-bottom: 10px;
}
.lang ul.dropdown-menu li:last-child{
	margin-bottom: 0;
}
.lang ul.dropdown-menu li a:hover{
	color: #D72848;
}
.mega_level{
	display: none;
}
.topcats{
	padding: 14px 0;
	border-top: 2px solid #F9EDED;
	border-bottom: 2px solid #F9EDED;
	margin-bottom: 24px;
}
.topcats ul{
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: space-around;
}
.topcats ul li{
	display: inline-block;
}
.topcats ul li a{
	display: block;
	padding: 10px;
	transition: all .3s ease;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #343F24;
	text-decoration: none;
}
.topcats ul li a:hover{
	background: #F9EDED;
}
#cart .dropdown-toggle::after{
	display: none;
}
#cart .dropdown-toggle{
	font-weight: 400;
	font-size: 18px;
	line-height: 160.19%;
	color: #343F24;
	border: 0;
	background: url('/image/seuvi/minicart.svg')no-repeat left top;
	padding: 0 0 0 32px;
	margin-left: 30px;
}
#main_header .flexed a{
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 160.19%;
	color: #343F24;
}
a#wishlist-total{
	background: url('/image/seuvi/wishlist.svg')no-repeat left top 1px;
	padding-left: 32px;
	margin-left: 55px;
}
#main_header .search #search{
	position: relative;
}
#main_header .search #search button{
	border: 0;
	background: none;
	position: absolute;
	z-index: 8;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
}
#main_header .search input{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	padding: 6px 0 6px 32px;
	border: 0;
	border-bottom: 1px solid #BDBDBD;
	border-radius: 0;
}
.form-control:focus{
	box-shadow: none;
}

/*End header*/

/*Begin Home*/

.common-home .mainslider{
	position: relative;
	text-align: center;
	margin-bottom: 60px;
}
.common-home .mainslider .container-fluid{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.common-home .mainslider .b_title{
	font-weight: 400;
	font-size: 56.6706px;
	line-height: 133.18%;
	text-transform: uppercase;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 32px;
}
.common-home .mainslider .b_desc{
	font-weight: 400;
	font-size: 18px;
	line-height: 166.68%;
	color: #000000;
	padding: 0 45px;
	margin-bottom: 40px;
}
.common-home .mainslider .b_but a{
	text-decoration: none;
	font-weight: 400;
	font-size: 17.589px;
	line-height: 166.68%;
	padding: 8px 35px;
	display: inline-block;
	background: #1F1F1F;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: all .3s ease;
	border: 2px solid #1f1f1f;
}
.common-home .mainslider .b_but a:hover{
	background: none;
	color: #1f1f1f;
}
.common-home .mainslider .owl-nav button.disabled{
	opacity: .2;
}
.common-home .mainslider .owl-nav button.owl-prev{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.common-home .mainslider .owl-nav button.owl-next{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.featured_cat h3{
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	text-transform: uppercase;
	color: #343F24;
}
.f_cats .item{
	padding: 0 9px;
	text-align: center;
	height: 100%;
}
.f_cats .item .thumb{
	width: 80px;
	height: 80px;
	margin: 0 auto 4px;
}
.f_cats{
	padding: 0 30px;
	position: relative;
}
.f_cats .item a{
	font-weight: 600;
	font-size: 18px;
	line-height: 160.19%;
	color: #343F24;
	text-decoration: none;
	background: #F9EDED;
	border-radius: 5px;
	padding: 20px;
	display: block;
	height: 100%;
}
.f_cats .owl-stage{
	display: flex;
}
.f_cats .owl-nav button.disabled{
	opacity: .2;
}
.f_cats .owl-nav button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.f_cats .owl-nav button.owl-prev{
	left: -30px;
}
.f_cats .owl-nav button.owl-next{
	right: -30px;
}
.f_cats{
	margin-bottom: 70px;
}

/*End home*/