body {
	font-family: 'Open Sans', sans-serif;
}
.container-fluid{
	padding-left: 40px;
	padding-right: 40px;
}
.flexed{
	display: flex;
	align-items: center;
}
img{
	max-width: 100%;
}
.btn-primary:hover,
.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background: #343F24;
	border: 0;
}
input:focus,
textarea:focus,
select:focus,
button:focus{
	outline:none;
}
.fa-stack{
	color:#F2C94C;
	width:17px;
	height:17px;
	line-height: 17px;
}
.fa-stack-2x{
	font-size: 17px;
}

/*Header*/

#main_header #cart{
	width: auto;
}
#main_header #cart button.dropdown-toggle i{
	display: none!important;
}
#topban{
	font-weight: 400;
	font-size: 18px;
	line-height: 133.18%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	padding: 14px 0;
	background: linear-gradient(90deg, #EEE7DA 21.6%, #C8B5A9 80.21%);
	font-family: 'Montserrat', sans-serif;
}
.top_info{
	background: #343F24;
	color:#fff;
	padding: 6px 0;
}
.minidrop{
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	min-width: 220px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgb(150 147 147 / 25%);
	border-radius: 5px;
	padding: 16px;
	z-index: 3;
	color:#000;
}
.minidrop .all_phones{
	margin-bottom: 4px;
}
.minidrop .graph_text {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #828282;
}
.minidrop .graf_time{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1F1F1F;
}
.top_info .endpull{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.top_info .addr{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	padding-left: 26px;
	background: url('/image/seuvi/city_marker.svg')no-repeat left;
	color: #FFFFFF;
	margin-right: 22px;
}
.top_info .phone a{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	margin-right: 8px;
}
.top_info .phone{
	display: flex;
	align-items: center;
	position: relative;
}
.top_info .phone .drop{
	cursor: pointer;
}
.top_delivery{
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
}
.top_user{
	padding-left: 32px;
	background: url('/image/seuvi/acc.svg')no-repeat left;
	margin-left: 50px;
}
.top_user a{
	font-size: 18px;
	line-height: 29px;
	color: #FFFFFF;
}
.topmenu ul{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.topmenu ul li{
	display: block;
	position: relative;
	margin-right: 20px;
}
.topmenu ul li.parent>a{
	padding-right: 32px;
	position: relative;
}
.topmenu ul li.parent>a:after{
	background: url('/image/seuvi/topmenu_drop.svg')no-repeat center;
	position: absolute;
	content: '';
	right: 0;
	top: 50%;
	width: 27px;
	height: 24px;
	margin-top: -12px;
	transform: rotate(180deg);
	transition: all .3s ease;
}
.topmenu ul li.parent a.active{
	transform: rotate(0deg);
}
.topmenu ul li a{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #343F24;
	transition: all .3s ease;
	text-decoration: none;
}
.topmenu ul.sub-menu li a:hover,
.topmenu ul li a:hover{
	color: #D72848;
}
.topmenu ul.sub-menu{
	position: absolute;
	min-width:220px;
	top: 100%;
	right: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(150, 147, 147, 0.25);
	border-radius: 5px;
	padding: 16px;
	z-index: 3;
	display: none;
}
.topmenu ul.sub-menu li{
	margin-right: 0;
	margin-bottom: 10px;
}
.topmenu ul.sub-menu li:last-child{
	margin-bottom: 0;
}
.topmenu ul.sub-menu li a {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1F1F1F;
}
#main_header{
	padding: 11px 0;
}
#main_header .flexed{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.lang button.dropdown-toggle{
	color:#fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
}
.lang .dropdown-toggle::after{
	border: 0!important;
	background: url('/image/seuvi/phone_drop.svg')no-repeat center;
	width:24px;
	height:24px;
}
.lang ul.dropdown-menu{
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgb(150 147 147 / 25%);
	border-radius: 5px;
}
.lang ul.dropdown-menu li a {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1F1F1F;
	text-decoration: none;
	transition: all .3s ease;
}
.lang ul.dropdown-menu li{
	margin-bottom: 10px;
}
.lang ul.dropdown-menu li:last-child{
	margin-bottom: 0;
}
.lang ul.dropdown-menu li a:hover{
	color: #D72848;
}





.topcats{
	padding: 14px 0;
	border-top: 2px solid #F9EDED;
	border-bottom: 2px solid #F9EDED;
	margin-bottom: 24px;
}
.topcats ul.mainmenu{
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
.topcats ul.mainmenu>li{
	display: inline-block;
}
.topcats ul.mainmenu>li>a{
	display: block;
	padding: 10px;
	transition: all .3s ease;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #343F24;
	text-decoration: none;
}
.topcats ul.mainmenu>li:hover>a{
	background: #F9EDED;
}
.topcats ul.mainmenu>li:hover .mega_level{
	display: block;
}
.mega_level{
	position: absolute;
	width:100%;
	left:0;
	top: 100%;
	z-index: 3;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 30px;
	display: none;
	transition: all .3s ease;
}
.mega_level ul.first_level{
	columns:5;
	-moz-columns: 5;
	-webkit-columns:5;
}
.mega_level ul.first_level li {
	break-inside: avoid-column;
}
.mega_level ul.first_level{
	padding: 0;
	margin: 0;
}
.mega_level ul.first_level>li{
	margin-bottom: 24px;
	display: block;
}
.mega_level ul.first_level>li>a{
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #343F24;
	text-decoration: none;
	transition: all .3s ease;
}
.mega_level ul.first_level>li>a:hover{
	color: #66833B;
}
.mega_level ul.second_level{
	padding: 0;
	margin: 8px 0 0;
}
.mega_level ul.second_level>li{
	margin-bottom: 6px;
	display: block;
}
.mega_level ul.second_level>li:last-child{
	margin-bottom: 0;
}
.mega_level ul.second_level>li>a{
	text-decoration: none;
	transition: all .3s ease;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1F1F1F;
}
.mega_level ul.second_level>li>a:hover{
	color: #66833B;
}

#cart .dropdown-toggle::after{
	display: none;
}
#cart .dropdown-toggle{
	font-weight: 400;
	font-size: 18px;
	line-height: 160.19%;
	color: #343F24;
	border: 0;
	background: url('/image/seuvi/minicart.svg')no-repeat left top;
	padding: 0 0 0 32px;
	margin-left: 30px;
}
#main_header .flexed a{
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 160.19%;
	color: #343F24;
}
a#wishlist-total{
	background: url('/image/seuvi/wishlist.svg')no-repeat left top 1px;
	padding-left: 32px;
	margin-left: 55px;
}
#main_header .search #search{
	position: relative;
}
#main_header .search #search button{
	border: 0;
	background: none;
	position: absolute;
	z-index: 8;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
}
#main_header .search input{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	padding: 6px 0 6px 32px;
	border: 0;
	border-bottom: 1px solid #BDBDBD;
	border-radius: 0;
	margin-bottom: 0px;
}
.form-control:focus{
	box-shadow: none;
}

/*End header*/
/*Begin Home*/

.common-home .mainslider{
	position: relative;
	text-align: center;
	margin-bottom: 60px;
}
.common-home .mainslider .container-fluid{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.common-home .mainslider .b_title{
	font-weight: 400;
	font-size: 56.6706px;
	line-height: 133.18%;
	text-transform: uppercase;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 32px;
}
.common-home .mainslider .b_desc{
	font-weight: 400;
	font-size: 18px;
	line-height: 166.68%;
	color: #000000;
	padding: 0 45px;
	margin-bottom: 40px;
}
.common-home .mainslider .b_but a{
	text-decoration: none;
	font-weight: 400;
	font-size: 17.589px;
	line-height: 166.68%;
	padding: 8px 35px;
	display: inline-block;
	background: #1F1F1F;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: all .3s ease;
	border: 2px solid #1f1f1f;
}
.common-home .mainslider .b_but a:hover{
	background: none;
	color: #1f1f1f;
}
.common-home .mainslider .owl-nav button.disabled{
	opacity: .2;
}
.common-home .mainslider .owl-nav button.owl-prev{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.common-home .mainslider .owl-nav button.owl-next{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.featured_cat h3{
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	text-transform: uppercase;
	color: #343F24;
}
.f_cats .item{
	padding: 0 9px;
	text-align: center;
	height: 100%;
}
.f_cats .item .thumb{
	width: 80px;
	height: 80px;
	margin: 0 auto 4px;
}
.f_cats{
	padding: 0 30px;
	position: relative;
}
.f_cats .item a{
	font-weight: 600;
	font-size: 18px;
	line-height: 160.19%;
	color: #343F24;
	text-decoration: none;
	background: #F9EDED;
	border-radius: 5px;
	padding: 20px;
	display: block;
	height: 100%;
}
.f_cats .owl-stage{
	display: flex;
}
.f_cats .owl-nav button.disabled{
	opacity: .2;
}
.f_cats .owl-nav button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.f_cats .owl-nav button.owl-prev{
	left: -30px;
}
.f_cats .owl-nav button.owl-next{
	right: -30px;
}
.f_cats{
	margin-bottom: 70px;
}
.f_cat .prods_list{
	padding: 0 30px;
}
.product-layout{
	padding: 14px;
	border: 1px solid #F9EDED;
}
.social_block h3,
.brands h3,
.f_cat h3{
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	text-transform: uppercase;
	color: #343F24;
	margin-bottom: 25px;
}
.product-layout .product-thumb img,
.owl-carousel .product-layout .product-thumb img{
	width: 200px;
	margin: 0 auto;
}
.product-layout .product-thumb .image{
	padding: 8px;
	background: #FFF8F8;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}
.f_cat .owl-carousel .owl-nav button.disabled{
	opacity: .2;
}
.f_cat .owl-carousel .owl-nav button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.f_cat .owl-carousel .owl-nav button.owl-prev{
	left: -7px;
}
.f_cat .owl-carousel .owl-nav button.owl-next{
	right: -7px;
}
.product-layout .flexed{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 13px;
}
.product-layout .revnum{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #BDBDBD;
	padding-left: 15px;
	background: url('/image/seuvi/comment_cloud.svg')no-repeat left;
}
.product-layout .prod_labels{
	position: absolute;
	left: 0;
	top: 13px;
}
.product-layout .prod_labels .lab{
	width: 60px;
	font-weight: 400;
	font-size: 14px;
	line-height: 160.19%;
	text-align: center;
	background: #D72848;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 8px;
}
.product-layout .caption a.prodname{
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	text-decoration: none;
	color: #343F24;
	margin-bottom: 3px;
}
.product-layout .caption .prod_brand{
	font-weight: 400;
	font-size: 16px;
	line-height: 160.19%;
	margin-bottom: 15px;
	color: #BDBDBD;
}
.product-layout .price-new,
.product-layout .price{
	font-weight: 700;
	font-size: 22px;
	line-height: 140%;
	color: #343F24;
}
.product-layout .price .price-old {
	color: #828282;
	text-decoration: line-through;
	padding-right: 30px;
	font-weight: 400;
}
a.btn_wishlist,
button.btn_wishlist{
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 13px;
	top:13px;
}
button.addto{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	background: #343F24;
	border-radius: 3px;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	padding: 11px 0;
	border: 0;
	color: #FFFFFF;
}
button.addto img{
	width: 24px!important;
	margin: 0 0 0 9px!important;
}
.product-layout .abs .form-group{
	margin-bottom: 20px;
}
.product-layout .abs .radgroup{
	display:flex;
	align-items: center;
	flex-wrap: wrap;
}
.product-layout .abs .radgroup .radio input{
	display: none;
}
.product-layout .abs .radgroup .radio input+label{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #343F24;
	background: rgba(102, 131, 59, 0.06);
	border-radius: 3px;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid rgba(102, 131, 59, 0.06);
	cursor: pointer;
}
.product-layout .abs .radgroup .radio input:checked+label{
	border: 1px solid #46582B;
}
.product-layout{
	position: relative;
}
.product-layout .abs{
	padding: 14px;
	position: absolute;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	left: -1px;
	width: calc(100% + 2px);
	border: 1px solid #F9EDED;
	border-top: 0;
	display: none;
}
.f_cat .owl-carousel .owl-stage-outer{
	padding-bottom: 160px;
}
.f_cat{
	margin-bottom: 100px;
}
.f_cat .more_btn{
	margin-top: -100px;
	position: relative;
	z-index: 2;
}
.f_cat .more_btn a{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #343F24;
	text-decoration: none;
	border: 1px solid #343F24;
	border-radius: 3px;
	padding: 10px 65px;
	transition: all .3s ease;
}
.f_cat .more_btn a:hover{
	background: #343F24;
	color: #fff;
}
.product-layout.item:hover{
	z-index: 99;
}
.product-layout.item:hover .abs{
	display: block;
}
.col-lg-20{
	width: 20%;
}
.brands a.item{
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
	box-shadow:
			1px 0 0 0 #FFBBBB,
			0 1px 0 0 #FFBBBB,
			1px 1px 0 0 #FFBBBB,   /* Just to fix the corner */
			1px 0 0 0 #FFBBBB inset,
			0 1px 0 0 #FFBBBB inset;
	height: 100%;
}
.brands .col-lg-20:last-child a.item{
	font-weight: 400;
	font-size: 29px;
	line-height: 40px;
	text-decoration: underline;
	color: #1F1F1F;
}
.brands .col-lg-20:last-child a.item:hover{
	text-decoration: none;
}
.brands{
	margin-bottom: 70px;
}
.html_module{
	padding: 60px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}
.html_module p{
	margin-bottom: 30px;
}
.html_module h3{
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 30px;
}
.html_module ol,
.html_module ul{
	margin-bottom: 30px;
}
.social_block{
	padding: 50px 0;
}
.social_block .item{
	text-align: center;
	height: 100%;
	border-right: 1px solid #FFBBBB;
	padding: 60px 0;
}
.social_block .row.no-gutters{
	border: 1px solid #FFBBBB;
	border-radius: 20px;
}
.social_block .item img{
	margin-bottom: 10px;
}
.social_block .col-lg-4:last-child .item{
	border-right: 0;
}
.social_block .item .count{
	font-weight: 700;
	font-size: 26px;
	line-height: 136.87%;
	color: #343F24;
}
.social_block .item span{
	font-weight: 400;
	font-size: 21px;
	line-height: 136.87%;
	color: #BDBDBD;
}
.consult{
	margin-left: -40px;
	margin-right: -40px;
}
.consult .girl_bg{
	background: url('/image/seuvi/consult_girl.png')no-repeat center;
	background-size: cover;
}
.consult .col-lg-7{
	padding: 140px 50px;
	background: #F9EDED;
	position: relative;
}
.consult .stamp{
	position: absolute;
	right: 0;
	top: 0;
}
.consult h3{
	font-weight: 400;
	font-size: 60px;
	line-height: 139.37%;
	text-transform: uppercase;
	color: #343F24;
	margin-bottom: 4px;
}
.consult .desc{
	font-weight: 400;
	font-size: 21px;
	line-height: 136.87%;
	margin-bottom: 50px;
	color: #343F24;
}
.consult form input[type="text"]{
	border: 1px solid #343F24;
	border-radius: 3px;
	background: rgba(255,255,255,.5);
	padding: 17px 24px;
	font-weight: 400;
	font-size: 21px;
	line-height: 139.37%;
	color: #BDBDBD;
	margin-right: 10px;
	width: 100%;
}
.consult form input[type="submit"]{
	border: 1px solid #343F24;
	border-radius: 3px;
	background: #343F24;
	padding: 17px 10px;
	width: 320px;
	text-align: center;
	font-weight: 400;
	font-size: 21px;
	line-height: 139.37%;
	color: #FFFFFF;
	transition: all .3s ease;
	flex: none;
}
.consult form input[type="submit"]:hover{
	color:#343F24;
	background: none;
}
.consult form{
	display: flex;
	align-items: center;
}

/*End home*/
/*Begin category*/

ul.breadcrumb{
	margin-bottom: 24px;
	padding: 0;
	background: none;
}
ul.breadcrumb li a{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}
ul.breadcrumb li:after{
	content: '/';
	margin: 0 6px;
}
ul.breadcrumb li:last-child:after{
	display: none;
}
h1.cat_title{
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	text-transform: uppercase;
	color: #343F24;
	margin-bottom: 38px;
}
.subcats ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.subcats ul li{
	margin-bottom: 14px;
	margin-right: 13px;
	display: block;
	text-decoration: none;
}
.subcats ul li a{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	display: block;
	color: #1F1F1F;
	padding: 10px 20px;
	background: #F7F8F5;
	border: 1px solid #5E763A;
	border-radius: 100px;
	text-decoration: none;
	transition: all .3s ease;
}
.subcats ul li a:hover{
	background: #66833B;
	color: #fff;
}
.subcats{
	margin-bottom: 40px;
}
#adv_ajaxfilter_box {
	border: 1px solid #F9EDED;
	border-left:0;
}
#adv_ajaxfilter_box .clear_filter{
	display: none;
}
#column-left .box.filter_holder .box-heading{
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	color: #343F24;
	margin-bottom: 23px!important;
}
.option_box.mt{
	padding-top: 15px;
}
#column-left #adv_ajaxfilter .option_name:after, #adv_ajaxfilter .attribute_group_name:after{
	right: 15px;
}
#column-left #adv_ajaxfilter .option_name,
#column-left #adv_ajaxfilter .attribute_group_name{
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #343F24;
}
#column-left .filters label{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #1F1F1F;
}
#column-left .filters [type=checkbox] + label:before,
#column-left .filters [type=radio] + label:before{
	width: 18px;
	height: 18px;
	background: url('/image/seuvi/uncheck.svg');
	border: 0;
	padding: 0;
	content: '';
	top: 50%;
	margin-top: -9px;
}
#column-left .filters [type=checkbox]:checked + label:before,
#column-left .filters [type=radio]:checked + label:before{
	background: url('/image/seuvi/check.svg');
}
#column-left #adv_ajaxfilter .price_range {
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}
#column-left #adv_ajaxfilter_box .ui-slider{
	width: 80%;
	border: 0;
	height: 6px;
}
#column-left #adv_ajaxfilter_box div.ui-slider-range.ui-widget-header{
	background: #F9EDED;
}
#column-left #adv_ajaxfilter_box .ui-state-default,
#column-left #adv_ajaxfilter_box .ui-widget-content .ui-state-default{
	background: #46582B;
	width: 14px;
	height: 14px;
	border: 0;
	border-radius: 100%;
	top: -4px;
}
.product-layout.cat_layout{
	border: 0;
	padding: 0;
}
.pagination_holder{
	margin-top: 50px;
	justify-content: center;
	align-items: center;
}
.pagination_holder .text-right{
	display: none!important;
}
.pagination_holder .text-left{
	text-align: center!important;
}
.pagination_holder ul.pagination{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination_holder ul.pagination li a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #343F24;
	transition: all .3s ease;
	text-decoration: none;
}
.pagination_holder ul.pagination li a:hover {
	background: #343F24;
	color: #fff;
}
.pagination_holder ul.pagination li{
	margin: 0 6px;
}
.pagination_holder ul.pagination li span{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #46582B;
	border-radius: 3px;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #343F24;
}
select#input-sort{
	font-weight: 400;
	height: auto;
	width: auto;
	font-size: 26px;
	line-height: 35px;
	color: #343F24;
	border: 0;
	padding-left: 45px;
	background: url('/image/seuvi/sort.svg')no-repeat left;
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select#input-sort option{
	font-size: 16px;
	padding-left: 0;
}
.cat_content{
	margin-bottom: 75px;
}
.cat_desc{
	margin-bottom: 100px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}
.cat_desc h3{
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}
.prod_revs .item{
	padding: 5px;
}
.prod_revs .item .rev{
	padding: 15px;
	border: 1px solid #FFBBBB;
	border-radius: 5px;
}
.prod_revs .item .image{
	width: 40%;
	flex:none;
	background: #FFF8F8;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.prod_revs .item .image img{
	width: 100px;
	max-width: 100%;
}
.prod_revs .flexed_info{
	display: flex;
	margin-bottom: 15px;
}
.prod_revs .flexed_info .info{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
}
.prod_revs .author_date{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.prod_revs .author_date .author{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}
.prod_revs .author_date .date{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #828282;
}
.prod_revs .name{
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	color: #343F24;
	margin-bottom: 4px;
}
.prod_revs .price{
	font-weight: 700;
	font-size: 14px;
	line-height: 140%;
	margin-bottom: 8px;
	color: #343F24;
}
.prod_revs .desc{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}
.prod_revs_car{
	padding: 0 30px;
}
.prod_revs .owl-carousel .owl-nav button.disabled{
	opacity: .2;
}
.prod_revs .owl-carousel .owl-nav button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.prod_revs .owl-carousel .owl-nav button.owl-prev{
	left: -2px;
}
.prod_revs .owl-carousel .owl-nav button.owl-next{
	right: -2px;
}
.faqs h3,
.top_prods h3,
.prod_revs h3{
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	text-transform: uppercase;
	color: #343F24;
	margin-bottom: 30px;
}
.faqs,
.prod_revs{
	margin-bottom: 60px;
}
.top_prods{
	margin-bottom: 100px;
}
.top_prods .row{
	margin-top: 22px;
	margin-bottom: 22px;
	align-items: center;
}
.top_prods .row.hd{
	margin-bottom: 14px;
	margin-top: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #828282;
	text-transform: capitalize;
}
.top_prods a{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-decoration: underline;
	color: #000000;
}
.top_prods a:hover{
	text-decoration: none;
}
.top_prods .price{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
}
.faqs .item{
	border-radius: 10px;
	border: 1px solid #F9EDED;
	margin-bottom: 24px;
}
.faqs .question{
	border-radius: 10px;
	background: #F9EDED;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	color: #000000;
	padding: 32px 190px 32px 90px;
	position: relative;
	cursor: pointer;
}
.faqs .question img{
	position: absolute;
	right: 90px;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s ease;
}
.faqs .item.opened .question img{
	transform: translateY(-50%) rotate(180deg);
}
.faqs .answer{
	padding: 30px 90px;
	display: none;
}
.cat_bottom{
	display: flex;
	flex-direction: column;
}
.cat_bottom .prod_revs{
	order: -1;
}
.cat_bottom .cat_desc{
	order: 0;
}

/*End category*/

/*Product*/

.prod_gal{
	padding: 0 90px;
}
.owl-carousel.prod_gal .owl-item .item img{
	max-width: 350px;
}
.owl-carousel.prod_gal .owl-item .item{
	padding: 45px;
	background: #FFF8F8;
	display: flex;
	align-items: center;
	justify-content: center;
}
.owl-carousel.prod_gal .owl-nav button.disabled{
	opacity: .2;
}
.owl-carousel.prod_gal .owl-nav button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.owl-carousel.prod_gal .owl-nav button.owl-prev{
	left: 0;
}
.owl-carousel.prod_gal .owl-nav button.owl-next{
	right: 0;
}
.hash_nav{
	padding: 0 90px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hash_nav img{
	width: 40px;
}
.hash_nav a{
	display: block;
	padding: 15px;
	background: #FFF8F8;
	border-radius: 2px;
	border: 1px solid #FFF8F8;
	margin-right: 12px;
	margin-top: 11px;
}
.hash_nav a.active{
	border: 1px solid #66833B;
}
.prod_main button.btn_wishlist{
	right: 130px;
	top: 20px;
	z-index: 2;
}
.man_img{
	margin-bottom: 14px;
}
.man_img img{
	max-height: 30px;
	width: auto;
}
.prod_main h1{
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	color: #343F24;
	margin-bottom: 24px;
}
.prod_main .sku{
	margin-right: 45px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}
.prod_main .sku span{
	color: #828282;
}
.prod_main .revnum{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #BDBDBD;
	padding-left: 15px;
	background: url("/image/seuvi/comment_cloud.svg")no-repeat left;
	margin-left: 20px;
}
.prod_main .flexed{
	padding-bottom: 24px;
	border-bottom: 1px solid #F9EDED;
	margin-bottom: 18px;
}
.prod_main .options .radgroup{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 14px;
}
.prod_main .options .radgroup input[type="radio"]{
	display: none;
}
.prod_main .options .radgroup input[type="radio"]+label{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #343F24;
	background: rgba(102, 131, 59, 0.06);
	border-radius: 3px;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid rgba(102, 131, 59, 0.06);
	cursor: pointer;
	margin-bottom: 10px;
}
.prod_main .options .radgroup input[type="radio"]:checked+label{
	border: 1px solid #46582B;
}
.prod_main .price{
	padding-bottom: 18px;
	border-bottom: 1px solid #F9EDED;
	margin-bottom: 24px;
	font-size: 34px;
	line-height: 140%;
}
.prod_main .price .price-new{
	font-weight: 600;
	color: #343F24;
}
.prod_main .price .price-old {
	color: #828282;
	text-decoration: line-through;
	padding-right: 30px;
	font-weight: 400;
}
.prod_main .addtocart{
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}
#quickcheckoutconfirm .quickcheckout-cart .quant,
.prod_main .addtocart .quant{
	position: relative;
	margin-right: 18px;
}
#quickcheckoutconfirm .quickcheckout-cart .quant{
	display: inline-block;
}
#quickcheckoutconfirm .quickcheckout-cart .quant input[type="text"],
.prod_main .addtocart .quant input{
	display: block;
	padding: 10px;
	width: 140px;
	background: none;
	border: 1px solid #D4D8CD;
	border-radius: 3px;
	text-align: center;
	flex:none;
	font-weight: 400;
	font-size: 21px;
	line-height: 29px;
	color: #343F24;
	margin-bottom: 0;
}
.quickcheckout-cart .quant .plus,
.quickcheckout-cart .quant .minus,
.prod_main .addtocart .quant .plus,
.prod_main .addtocart .quant .minus {
	font-weight: 400;
	font-size: 21px;
	line-height: 29px;
	color: #343F24;
	position: absolute;
	top: 0;
	z-index: 1;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
}
.quickcheckout-cart .quant .minus,
.prod_main .addtocart .quant .minus{
	left: 25px;
}
.quickcheckout-cart .quant .plus,
.prod_main .addtocart .quant .plus{
	right: 25px;
}
.btn-primary.focus, .btn-primary:focus{
	box-shadow: none!important;
}
.prod_main #button-cart img{
	margin-left: 6px;
}
.prod_main #button-cart{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	color: #FFFFFF;
	background: #343F24;
	border-radius: 3px;
	border: 0;
}
.gift_consult{
	padding: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #66833B;
	background: #F7F8F5;
	border-radius: 10px;
}
.gift_consult img{
	margin-right: 15px;
}
.prod_drops .item .name img{
	transition: all .3s ease;
}
.prod_drops .item.active .name img{
	transform: rotate(180deg);
}
.prod_drops .item .name{
	padding: 17px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #F9EDED;
	font-weight: 400;
	font-size: 21px;
	line-height: 29px;
	text-transform: uppercase;
	color: #343F24;
	cursor: pointer;
}
.prod_drops .item .desc{
	font-size: 18px;
	line-break: 24px;
	padding: 15px;
	display: none;
}
.prod_tabs{
	margin-top: 60px;
	margin-bottom: 60px;
}
.prod_tabs .nav-tabs{
	border-bottom: 1px solid #F9EDED;
	padding-bottom: 11px;
	margin-bottom: 60px;
}
.prod_tabs .nav-tabs li a{
	background: #F7F8F5;
	border-radius: 3px;
	padding: 10px 40px;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #46582B;
	text-decoration: none;
	transition: all .3s ease;
	display: block;
	position: relative;
	margin-right: 24px;
}
.prod_tabs .nav-tabs li a:before{
	width: 0px;
	content: '';
	height: 2px;
	background: #66833B;
	position: absolute;
	bottom: -11px;
	right: 0;
	transition: all .3s ease;
}
.prod_tabs .nav-tabs li a:hover,
.prod_tabs .nav-tabs li.active a{
	background: #66833B;
	color:#fff;
}
.prod_tabs .nav-tabs li a:hover:before,
.prod_tabs .nav-tabs li.active a:before{
	width: 100%;
	left: 0;
}
.prod_tabs #tab-description{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}
.prod_tabs #tab-description ul li{
	margin-bottom: 20px;
}
.table-striped tbody tr:nth-of-type(odd){
	background: #FFF8F8;
}
#button-review{
	background: #343F24;
	color:#fff;
	border: 0;
}
.f_cat.prod_car{
	margin-bottom: 0;
}
.f_cat.prod_car .owl-carousel{
	margin: 0 1px;
}
/*End product*/

/*Minicart*/

#minicart ul.load_json .tots{
	margin-top: 15px;
}
#minicart .modal-content{
	padding: 25px;
}
#minicart ul.load_json{
	padding: 0;
	margin: 0;
}
#minicart ul.load_json li{
	display: block;
}
#minicart .topper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
#minicart .topper h3{
	margin-bottom: 0;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	color: #343F24;
}
#minicart a.continue,
#minicart .topper a.closeme{
	cursor: pointer;
}
#minicart .closemodal_cart{
	cursor: pointer;
}
.cart_prods a.image{
	padding: 5px 20px;
	display: block;
	background: #FFF8F8;
}
.cart_prods .row{
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #F9EDED;
}
.cart_prods .row:last-child{
	border-bottom: 0;
}
.cart_prods a.image img.img-thumbnail{
	padding: 0;
	background: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
#main_header .flexed .cart_prods a.prod_name{
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	color: #343F24;
}
.cart_prods .prod_option{
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #1F1F1F;
	margin-top: 2px;
}
.cart_prods{
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	color: #343F24;
}
.quickcheckout-cart a.remove_prod,
.cart_prods button.remove_prod{
	background: none;
	border: 0;
	padding: 0;
	width:24px;
	height: 24px;
	background: #F9EDED;
	border-radius: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
#minicart a.continue{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	padding-left: 30px;
	background: url('/image/seuvi/continue_shopping.svg')no-repeat left;
	color: #46582B;
}
#minicart .bbg{
	background: #F7F8F5;
	border-radius: 10px;
	padding: 10px 30px;
}
#minicart .text_total{
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	color: #343F24;
}
#minicart .val_total{
	font-weight: 600;
	font-size: 34px;
	line-height: 140%;
	color: #343F24;
}
#main_header .flexed #minicart a.checkout_btn{
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background: #343F24;
	border-radius: 3px;
}


/*End minicart*/

/*Info pages*/

.information-sitemap #content ul{
	margin-bottom: 60px;
}
.information-sitemap #content ul ul{
	margin-bottom: 0;
	margin-top: 10px;
}
.information-sitemap #content ul li{
	margin-bottom: 10px;
	font-size: 18px;
}
.information-sitemap #content ul li a{
	color:#000;
	font-size: 18px;
}
.information-information #content{
	margin-bottom: 60px;
}
.information-sitemap #content h1
.information-information #content h1,
.information-contact #content h1{
	margin-bottom: 30px;
}
.information-contact #content h3{
	margin-bottom: 15px;
}
.information-contact address br+br{
	display: none;
}
.information-contact #content .panel{
	margin-bottom: 30px;
}
.information-contact #content form{
	margin-bottom: 60px;
}
.account-register #column-left,
.account-forgotten #column-left,
.account-login #column-left{
	display: none;
}
body[class^="account"] #content{
	margin-bottom: 60px;
}
a{
	color:#343F24;
}
.flexed.just{
	justify-content: space-between;
}
.account-register .buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body[class^="account"] #content input[type="radio"],
body[class^="account"] #content input[type="checkbox"]{
	display:none;
}
body[class^="account"] #content input[type="radio"]+label,
body[class^="account"] #content input[type="checkbox"]+label{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #1F1F1F;
	padding-left: 30px;
	cursor: pointer;
	position: relative;
	padding-right: 15px;
}
body[class^="account"] #content input[type="radio"]+label:before,
body[class^="account"] #content input[type="checkbox"]+label:before{
	width: 18px;
	height: 18px;
	background: url('/image/seuvi/uncheck.svg');
	border: 0;
	padding: 0;
	content: '';
	top: 50%;
	margin-top: -9px;
	position: absolute;
	left: 0;
}
body[class^="account"] #content input[type="radio"]:checked+label:before,
body[class^="account"] #content input[type="checkbox"]:checked+label:before{
	background: url('/image/seuvi/check.svg');
}

/*End info pages*/

/*Footer*/

footer{
	background: #343F24;
	color:#fff;
	padding-top: 50px;
}
footer a{
	color: #fff;
}
.foot_cols{
	display: flex;
	justify-content: space-between;
}
.foot_cols .foot_col{
	margin-right: 30px;
}
.foot_cols .foot_col:last-child{
	margin-right: 0;
}
footer .container-fluid{
	border-top:1px solid #46582B;
	padding: 20px 40px;
}
footer .copyright{
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	color: #828282;
}
footer .foot_icons{
	display: flex;
	align-items: center;
	justify-content: center;
}
footer .foot_icons img{
	margin: 0 9px;
}
footer .container{
	padding-bottom: 40px;
}
.social_footer .flexed{
	justify-content: center;
	margin-top: 40px;
}
.social_footer .flexed a{
	display: flex;
	margin: 0 15px;
}
.foot_heading{
	font-weight: 400;
	font-size: 21px;
	line-height: 29px;
	margin-bottom: 12px;
	text-transform: uppercase;
	color: #FDFFFC;
}
footer ul{
	padding: 0;
	margin: 0;
}
footer ul li{
	display: block;
	margin-bottom: 8px;
}
footer ul li a{
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FDFFFC;
}
footer a:hover{
	color:#fff;
}
footer .infos{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FDFFFC;
}
footer .infos>div{
	margin-bottom: 8px;
	padding-left: 34px;
}
footer .infos>div.address{
	background: url('/image/seuvi/foot_addr.svg')no-repeat left top;
}
footer .infos>div.phones{
	background: url('/image/seuvi/foot_phone.svg')no-repeat left top;
}
footer .infos>div.email{
	background: url('/image/seuvi/foot_mail.svg')no-repeat left top;
}



/*End footer*/

/*Quick checkout*/

.quickcheckout-checkout h1{
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	text-transform: uppercase;
	color: #343F24;
	margin-bottom: 18px;
}
.checkout_inner{
	padding: 20px;
	border: 1px solid #F9EDED;
}
.checkout-heading.box-heading:before,
.quickcheckout-heading.box-heading:before{
	display: none!important;
}
.checkout-heading.box-heading,
.quickcheckout-heading.box-heading{
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	margin-bottom: 14px;
	color: #343F24;
	padding: 0!important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.quickcheckout-heading.box-heading a.login_trigger{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #66833B;
}
#quickcheckoutconfirm input[type="text"],
#quickcheckoutconfirm input[type="password"]{
	border: 1px solid #BDBDBD;
	border-radius: 3px;
	padding: 13px 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 160.19%;
	margin-bottom: 14px;
}
#quickcheckoutconfirm input[type="text"]::placeholder,
#quickcheckoutconfirm input[type="password"]::placeholder{
	color: #828282;
}
#quickcheckoutconfirm input[type="checkbox"]{
	display:none;
}
#quickcheckoutconfirm input[type="checkbox"]+label{
	font-weight: 400;
	font-size: 16px;
	line-height: 160.19%;
	color: #66833B;
	padding-left: 30px;
	position: relative;
}
#quickcheckoutconfirm input[type="checkbox"]+label:before{
	width: 18px;
	height: 18px;
	background: url('/image/seuvi/uncheck.svg');
	border: 0;
	padding: 0;
	content: '';
	top: 50%;
	margin-top: -9px;
	position: absolute;
	left: 0;
}
#quickcheckoutconfirm input[type="checkbox"]:checked+label:before {
	background: url('/image/seuvi/check.svg');
}
#quickcheckoutconfirm #shipping-method{
	margin-top: 45px;
}
#quickcheckoutconfirm p.yel_box{
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #1F1F1F;
	background: #FEFAED;
	border-radius: 10px;
	padding: 20px 60px;
}
#quickcheckoutconfirm #shipping-method input[type="radio"]{
	display: none;
}
#quickcheckoutconfirm #shipping-method input[type="radio"]:checked+label{
	border: 1px solid #66833B;
	background: url('/image/seuvi/radio_checked.svg')no-repeat left 15px top 15px;
}
#quickcheckoutconfirm #shipping-method input[type="radio"]+label{
	border-radius: 10px;
	border: 1px solid transparent;
	display: block;
	width: 100%;
	padding: 15px 15px 15px 52px;
	cursor: pointer;
	background: url('/image/seuvi/radio.svg')no-repeat left 15px top 15px;
}
#quickcheckoutconfirm #shipping-method input[type="radio"]+label .ship_name{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #1F1F1F;
}
#quickcheckoutconfirm #shipping-method input[type="radio"]:checked+label .ship_name{
	color: #66833B;
}
#quickcheckoutconfirm #shipping-method input[type="radio"]+label .shipping-sum{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #66833B;
}
#quickcheckoutconfirm #shipping-method input[type="radio"]+label .ship_desc{
	margin-top: 5px;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #828282;
}
#quickcheckoutconfirm #payment-method input[type="radio"]{
	display: none;
}
#quickcheckoutconfirm #payment-method input[type="radio"]+label{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	padding-left: 37px;
	color: #1F1F1F;
	background: url('/image/seuvi/radio.svg')no-repeat left;
	margin-bottom: 16px;
}
#quickcheckoutconfirm #payment-method input[type="radio"]:checked+label{
	background: url('/image/seuvi/radio_checked.svg')no-repeat left;
}
#quickcheckoutconfirm #payment-method .comment_label{
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 10px;
	color: #1F1F1F;
	display: block;
}
#quickcheckoutconfirm textarea {
	border: 1px solid #BDBDBD;
	border-radius: 3px;
	padding: 13px 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 160.19%;
	margin-bottom: 14px;
	resize: none;
}
.entry_label{
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 10px;
	color: #1F1F1F;
	display: block;
}
#np_fields .select2{
	margin-bottom: 15px;
}
.quickcheckout-cart .item{
	padding-bottom: 14px;
	padding-top: 14px;
	border-bottom: 1px solid #F9EDED;
}
.quickcheckout-cart .image{
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFF8F8;
}
.quickcheckout-cart .name a{
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	color: #343F24;
}
.quickcheckout-cart .quant{
	margin-top: 14px;
}
.quickcheckout-cart .quant input{
	cursor: default;
}
.quickcheckout-cart .name small{
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	margin-bottom: 4px;
	color: #1F1F1F;
	padding-right: 10px;
	display: inline-block;
}
.quickcheckout-cart .flexed_col{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 100%;
}
.quickcheckout-cart .flexed_col .total{
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	color: #343F24;
	margin-bottom: 11px;
}
.quickcheckout-cart .total_cost{
	display: flex;
	padding: 30px;
	align-items: center;
	justify-content: space-between;
	background: #F7F8F5;
	border-radius: 10px;
	margin-bottom: 14px;
}
.quickcheckout-cart .total_cost .name{
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
	color: #343F24;
}
.quickcheckout-cart .total_cost .total_sum{
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	color: #343F24;
}
.quickcheckout-cart .bottom_border{
	border-bottom: 1px solid #F9EDED;
	margin-bottom: 14px;
	padding-bottom: 14px;
}
#quickcheckoutconfirm #terms .quickcheckout-content{
	border: 0;
	padding: 0;
}
#quickcheckoutconfirm #terms .quickcheckout-content .confirm{
	border-top: 0;
	padding: 0;
}
#quickcheckoutconfirm #terms a#button-payment-method{
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	color: #FFFFFF;
	cursor: pointer;
	padding: 17px 0;
	background: #343F24;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
#quickcheckoutconfirm #terms input#agreement+label {
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	color: #000000;
}
#quickcheckoutconfirm #voucher #voucher-heading,
#quickcheckoutconfirm #voucher #coupon-heading{
	font-weight: 400;
	font-size: 18px;
	line-height: 160.19%;
	color: #66833B;
	background: none;
	border: 0;
	padding: 10px 10px 10px 40px;
}
#quickcheckoutconfirm #voucher #coupon-heading{
	background: url('/image/seuvi/coupon.svg')no-repeat center left;
}
#quickcheckoutconfirm #voucher #voucher-heading{
	background: url('/image/seuvi/voucher.svg')no-repeat center left;
}
#quickcheckoutconfirm #voucher #voucher-content,
#quickcheckoutconfirm #voucher #coupon-content{
	align-items: center;
}
#quickcheckoutconfirm #voucher #voucher-content input,
#quickcheckoutconfirm #voucher #coupon-content input{
	padding: 0 10px;
	line-height: 28px;
}
#quickcheckoutconfirm #voucher #voucher-content button,
#quickcheckoutconfirm #voucher #coupon-content button{
	padding: 4px 30px;
	background: #343F24;
	color:#fff;
	border-radius: 3px;
	border: 0;
	margin-left: 10px;
}

/*End quick checkout*/

/*Account*/

body[class^="account"] footer{
	margin-top: 60px;
}
body[class^="account"] .buttons{
	margin-top: 30px;
}
#column-left .list-group a{
	border:2px solid #F9EDED;
	transition: all .3s ease;
	text-decoration: none;
}
#column-left .list-group a.active,
#column-left .list-group a:hover{
	background: #343F24;
	border:2px solid #343F24;
	color:#fff;
}
body[class^="account"] #content .radgroup input[type="radio"]+label{
	padding-left: 15px;
}
body[class^="account"] #content .radgroup input[type="radio"]+label:before{
	display: none;
}
body[class^="account"] .product-layout .remove_prod{
	position: absolute;
	right: 13px;
	top: 13px;
	border: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	background: #F9EDED;
	border-radius: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}


/*End account*/

/*Other*/

#consult_thanks .modal-content{
	text-align: center;
	padding: 50px;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
}
body[class^="account"] h2,
h1{
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	text-transform: uppercase;
	color: #343F24;
	margin-bottom: 38px;
}
.product-search footer{
	margin-top: 60px;
}
body[class^="account"] h2{
	margin-bottom: 15px;
}
.mobonly_block,
.mobonly{
	display: none;
}





@media (max-width: 1300px) {
	.product-layout .price-new, .product-layout .price{
		font-size: 18px;
	}
	.product-layout .abs .radgroup .radio input+label{
		padding: 5px;
		font-size: 16px;
	}
}
@media (max-width: 1200px) {
	.topmenu ul li:last-child{
		margin-right: 0;
	}
	.topmenu ul li{
		margin-right: 15px;
	}
	.topmenu ul li.parent>a{
		padding-right: 25px;
	}
	.topmenu ul li a{
		font-size: 16px;
	}
	.container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
	.topcats ul.mainmenu>li>a{
		font-size: 15px;
		padding: 10px 5px;
	}
	.mega_level ul.first_level {
		columns: 4;
		-moz-columns: 4;
		-webkit-columns: 4;
	}
	.common-home .mainslider .b_title{
		font-size: 48px;
		margin-bottom: 15px;
	}
	.common-home .mainslider .b_desc{
		margin-bottom: 30px;
		padding: 0;
	}
	.top_user{
		margin-left: 15px;
	}
	.top_info .phone a,
	.top_info .addr,
	.lang button.dropdown-toggle,
	.top_user a,
	.top_delivery{
		font-size: 16px;
	}
	a#wishlist-total{
		margin-left: 30px;
	}
	.consult form{
		display: block;
	}
	.consult form input[type="submit"]{
		width: 100%;
		margin-top: 15px;
	}
	.consult{
		margin-left: -15px;
		margin-right: -15px;
	}
	.product-layout.cat_layout{
		padding: 0 15px;
	}
	.product-layout .price .price-old{
		padding-right: 15px;
	}
	.product-layout .price-new, .product-layout .price{
		font-size: 16px;
	}
	.product-layout .abs .radgroup .radio input+label{
		padding: 4px;
		font-size: 14px;
	}
	.prod_tabs .nav-tabs li a{
		padding: 10px 30px;
	}
	.consult .stamp{
		max-width:215px;
	}
	.quickcheckout-cart .total_cost .total_sum{
		flex:none;
	}
}
@media (max-width: 992px) {
	.mobonly{
		display: flex;
	}
	.mobonly_block{
		display: block;
	}
	.top_info,
	.topcats,
	.topmenu{
		display: none;
	}
	.col-lg-20{
		width: 33%;
	}
	.common-home .brands .row>.col-lg-20:nth-child(9){
		display: none;
	}
	.consult h3{
		font-size: 28px;
	}
	.foot_cols{
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}
	.foot_cols .foot_col{
		margin-right: 0;
		margin-bottom: 25px;
		width: 100%;
	}
	footer .infos>div{
		background-position: top center!important;
		padding-left: 0;
		padding-top: 30px;
	}
	footer .copyright{
		text-align: center;
		margin-bottom: 15px;
	}
	.consult .girl_bg{
		min-height: 300px;
	}
	.consult .col-lg-7{
		position: static;
	}
	.consult{
		position: relative;
		overflow: hidden;
	}
	.consult .stamp {
		max-width: 130px;
		filter: invert(1);
		top: -18px;
		right: -18px;
	}
	.consult .col-lg-7{
		padding:20px 35px;
		text-align: center;
	}
	.consult h3{
		font-size: 18px;
		margin-bottom: 6px;
	}
	.consult .desc{
		font-size: 16px;
		margin-bottom: 16px;
	}
	.consult form input[type="text"]{
		padding: 10px 15px;
		font-size: 18px;
	}
	.consult form input[type="submit"]{
		padding: 11px 30px;
		font-size: 18px;
	}
	.social_block .item{
		border-bottom:1px solid #FFBBBB;
		padding: 20px 0;
	}
	.social_block .col-lg-4:last-child .item{
		border-bottom: 0;
	}
	.social_block h3, .brands h3, .f_cat h3{
		font-size: 20px;
		text-align: center;
		line-height: 28px;
	}
	.social_block .item .count{
		font-size: 20px;
	}
	.social_block .item span{
		font-size: 16px;
	}
	.html_module,
	.social_block{
		padding: 30px 0;
	}
	.html_module{
		font-size: 14px;
	}
	.brands .container,
	.html_module .container{
		padding: 0;
	}
	.html_module p:last-child{
		margin: 0;
	}
	.html_module ol, .html_module ul{
		padding-left: 15px;
	}
	.html_module h3{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.f_cat{
		margin-bottom: 45px;
	}
	.brands{
		margin-bottom: 30px;
	}
	.brands .col-lg-20:last-child a.item{
		font-size: 18px;
		line-height: 22px;
	}
	.brands a.item{
		padding: 10px;
	}
	.f_cat .owl-carousel .owl-stage-outer{
		padding: 0;
	}
	.product-layout{
		padding: 5px;
	}
	.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
		width: 25px;
	}
	.product-layout .abs{
		position: static;
		display: block;
		padding: 15px 0 0 0;
		border: 0;
	}
	.f_cat .more_btn{
		margin-top: 30px;
	}
	.f_cats,
	.f_cat .prods_list{
		padding: 0 25px;
	}
	.f_cats .item .thumb{
		width: auto;
		height: auto;
	}
	.f_cats .item .thumb img{
		max-width: 60px;
		width: auto;
		margin: 0 auto;
	}
	.f_cats .item a{
		padding: 10px;
	}
	.f_cats .item a{
		font-size: 14px;
	}
	.common-home .mainslider .b_title{
		font-size: 16px;
		line-height: 133.18%;
		margin-bottom: 5px;
		font-weight: 600;
	}
	.common-home .mainslider .b_but a{
		font-size: 14px;
		padding: 5px 10px;
	}
	.common-home .mainslider .b_desc{
		font-size: 14px;
		margin-bottom: 10px;
	}
	#topban{
		padding: 8px 15px;
		font-size: 14px;
	}
	#main_header{
		background: #343F24;
	}
	#main_header img.logo {
		filter: brightness(011);
	}
	#main_header .search{
		display: none;
	}
	#main_header a#wishlist-total{
		background: url('/image/seuvi/wishlist_white.svg')no-repeat left top 1px;
		color:#fff;
		padding-left: 25px;
	}
	#main_header #cart .dropdown-toggle{
		color:#fff;
		margin-left: 0;
		padding-left: 25px;
	}
	#main_header #cart{
		color:#fff;
		margin-left: 10px;
		background: url('/image/seuvi/bag.svg')no-repeat left top 1px;
	}
	.mobmenu{
		position: fixed;
		background: #fff;
		max-height: 100%;
		overflow: auto;
		left: 100%;
		transition: all .3s ease;
		z-index: 99;
		height: 100%;
		top: 0;
		width: 100%;
	}
	.mobmenu.vis{
		left: 0;
	}
	.mobmenu ul{
		position: fixed;
		background: #fff;
		max-height: 100%;
		height: 100%;
		overflow: auto;
		transition: all .3s ease;
		left: 100%;
		top: 0;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.mobmenu ul.vis{
		z-index: 2;
	}
	.mobmenu ul.vis{
		left: 0;
	}
	.mobmenu ul li{
		display: block;
	}
	.mobmenu ul li.goback_s a,
	.mobmenu ul li.goback a{
		background: url('/image/seuvi/back.svg')no-repeat left 15px center;
		padding-left: 45px;
	}
	.mobmenu>ul>li.parent>a{
		background: url('/image/seuvi/mobmenu.svg')no-repeat right 15px center;
	}
	.mobmenu ul li a{
		padding: 15px 20px;
		display: block;
		border-bottom: 1px solid #F9EDED;
		text-decoration: none;
		color: #000000;
	}
	.mobmenu>ul{
		position: static;
	}
	.mobmenu li.parent{
		position: relative;
	}
	.mobmenu li.parent img.go_child{
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
	}
	#minicart a.continue{
		display: none;
	}
	.mobnone{
		display: none;
	}
	#minicart .modal-content{
		padding: 10px;
	}
	.cart_prods a.image{
		padding: 5px;
	}
	#main_header .flexed.just{
		justify-content: space-between;
	}
	.quickcheckout-cart a.remove_prod,
	.cart_prods button.remove_prod{
		position: absolute;
		right: 15px;
		top: 0px;
	}
	.quickcheckout-cart .total{
		font-weight: 600;
		font-size: 14px;
		line-height: 140%;
		color: #343F24;
	}
	.quickcheckout-cart .quant .minus{
		left: 10px;
	}
	.quickcheckout-cart .quant .plus{
		right: 10px;
	}
	.quickcheckout-cart .quant{
		margin-top: 0;
	}
	#quickcheckoutconfirm .quickcheckout-cart .quant input[type="text"]{
		width: 80px;
		padding: 5px 10px;
		font-size: 14px;
	}

	.quickcheckout-cart .name a,
	#main_header .flexed .cart_prods a.prod_name{
		font-size: 16px;
		margin-right: 30px;
	}
	.bbg .col-lg-6{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.quickcheckout-cart .total_cost{
		padding: 15px;
		margin-top: 15px;
	}
	.quickcheckout-cart .alert-danger.vis+.alert-danger{
		display: none!important;
	}
	.quickcheckout-cart .total_cost .total_sum,
	#minicart .val_total{
		font-weight: 600;
		font-size: 22px;
		margin-left: 15px;
	}
	.quickcheckout-cart .total_cost .name,
	#minicart .text_total{
		font-size: 16px;
		line-height: 24px;
	}
	#main_header .flexed #minicart a.checkout_btn{
		width: 100%;
		margin-top: 14px;
	}
	.mainslider{
		margin-top: 15px;
	}
	ul.breadcrumb{
		margin-bottom: 20px;
		padding: 8px 0;
	}
	body[class^="account"] h2,
	.faqs h3, .top_prods h3, .prod_revs h3,
	.quickcheckout-checkout h1,
	h1,h1.cat_title{
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 15px;
	}
	#main_header .flexed.start{
		justify-content: flex-start;
	}
	.burger{
		margin-right: 15px;
	}
	.subcats ul li a{
		font-size: 12px;
		padding: 7px;
	}
	.subcats ul li{
		margin-right: 6px;
		margin-bottom: 6px;
	}
	.top_prods .row.hd{
		align-items: center;
	}
	aside#column-left{
		position: fixed;
		right: 100%;
		top: 0;
		transition: all .3s ease;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 99;
	}
	aside#column-left.vis{
		right: 0;
	}
	.mobflex{
		align-items: center;
		display: flex;
	}
	.mobflex a.filter{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 6px;
		background: #5E763A;
		border-radius: 3px;
		flex: none;
		margin-right: 15px;
	}
	.mobflex select#input-sort{
		font-size: 16px;
		border: 1px solid #BDBDBD;
		border-radius: 3px;
		background: url('/image/seuvi/prod_drop.svg')no-repeat right 15px center;
		padding-left: 15px;
		width: 100%;
		padding-right: 45px;
	}
	a.close_filter{
		position: absolute;
		right: 15px;
		top: 15px;
	}
	#column-left .box.filter_holder .box-heading{
		margin-top: 10px;
	}
	.cat_content{
		margin-bottom: 15px;
	}
	.prod_revs .item{
		padding: 0;
	}
	.prod_revs_car{
		padding: 0 25px;
	}
	.prod_revs .item .rev{
		padding: 10px;
	}
	.cat_desc h3{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.cat_desc{
		font-size: 14px;
	}
	.cat_desc{
		margin-bottom: 30px;
	}
	.top_prods .price{
		font-size: 14px;
	}
	.top_prods a{
		font-size: 16px;
	}
	.faqs,
	.top_prods{
		margin-bottom: 30px;
	}
	.faqs .question{
		padding: 10px;
		font-size: 18px;
		line-height: 24px;
	}
	.faqs .question img{
		max-height: 40px;
		right: 15px;
	}
	.faqs .answer{
		padding: 15px;
		font-size: 14px;
		line-height: 20px;
	}
	.faqs .item{
		margin-bottom: 15px;
	}
	.prod_gal{
		padding: 0 25px;
		margin-bottom: 15px;
	}
	.prod_main button.btn_wishlist{
		right: 45px;
		top: 10px;
	}
	.hash_nav{
		padding: 0;
		display: none;
		justify-content: center;
	}
	.prod_main .flexed .rating{
		flex:none;
	}
	.prod_main .price{
		font-size: 22px;
	}
	.gift_consult{
		padding: 15px;
		font-size: 16px;
		line-height: 20px;
	}
	.prod_drops .item .name{
		padding: 10px 0;
		font-size: 16px;
	}
	.prod_drops .item .desc{
		font-size: 14px;
		line-height: 22px;
	}
	.prod_tabs .nav-tabs li{
		width: 50%;
		padding: 0 15px;
		margin-bottom: 15px;
	}
	.prod_tabs .nav-tabs{
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 15px;
	}
	.prod_tabs .nav-tabs li a{
		margin-right: 0;
		text-align: center;
		padding: 5px;
		font-size: 14px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.f_cat.prod_car{
		margin-bottom: 30px;
	}
	ul.breadcrumb li a{
		font-size: 14px;
		line-height: 20px;
	}
	.quickcheckout-checkout h1{
		margin-top: 30px;
	}
	.checkout_inner{
		padding: 0;
		border: 0;
	}
	.quickcheckout-cart .item{
		position: relative;
	}
	.quickcheckout-cart .item>div{
		position: static;
	}
	.mobflexed{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#quickcheckoutconfirm p.yel_box{
		padding: 10px;
	}
	.checkout-heading.box-heading, .quickcheckout-heading.box-heading{
		font-size: 16px;
		line-height: 22px;
	}
	#quickcheckoutconfirm input[type="checkbox"]+label{
		font-size: 14px;
	}
	#quickcheckoutconfirm #voucher #voucher-heading, #quickcheckoutconfirm #voucher #coupon-heading{
		font-size: 14px;
	}
	#quickcheckoutconfirm #voucher #voucher-content button, #quickcheckoutconfirm #voucher #coupon-content button,
	#quickcheckoutconfirm #voucher #voucher-content input, #quickcheckoutconfirm #voucher #coupon-content input{
		width: 100%;
		margin-left: 0;
	}
	.quickcheckout-cart a.remove_prod{
		top: 15px;
	}



	/*Edits*/

	.f_cat .prods_list{
		padding: 0;
	}
	.f_cat .owl-nav{
		display:none;
	}
	.f_cat .product-layout .prod_labels .lab{
		width: 38px;
		font-size: 9px;
		margin-bottom: 3px;
	}
	.f_cat .product-layout{
		padding:7px;
	}
	.f_cat a.btn_wishlist,
	.f_cat button.btn_wishlist{
		width: 13px;
		height:13px;
		top:5px;
		right: 5px;
	}
	.f_cat .product-layout .prod_labels{
		left: -7px;
		top:6px;
	}
	.f_cat .product-layout .product-thumb .image{
		padding: 3px 20px;
		margin-bottom: 5px;
	}
	.f_cat .product-layout .flexed{
		margin-bottom: 4px;
	}
	.f_cat .fa-stack{
		width: 10px;
		height: 10px;
		line-height: 10px;
		margin-right: 2px;
	}
	.f_cat .fa-stack-2x{
		font-size: 10px;
	}
	.f_cat .revnum{
		font-size: 8px;
		background-size: 6px;
		padding-left: 8px;
		line-height: 11px;
	}
	.f_cat .product-layout .caption a.prodname{
		font-size: 10px;
	}
	.f_cat .product-layout .flexed .rating{
		display: flex;
		align-items: center;
	}
	.f_cat .product-layout .caption .prod_brand{
		font-size: 10px;
		margin-bottom: 4px;
	}
	.f_cat .product-layout .price-new,
	.f_cat .product-layout .price{
		font-size: 14px;
	}
	.f_cat .product-layout .abs .radgroup .radio input+label{
		font-size: 10px;
		padding: 0 3px;
		line-height: 20px;
		margin-right: 2px;
		margin-bottom: 10px;
	}
	.f_cat .product-layout .abs{
		padding-top: 10px;
	}
	.f_cat button.addto{
		margin-top: 0;
		font-size: 12px;
		padding: 8px 0;
		font-weight: 400;
	}
	.f_cat .product-layout .abs .form-group{
		margin-bottom: 0;
	}
	.f_cat button.addto img{
		width: 16px!important;
	}
	.f_cat .more_btn a{
		padding: 10px 50px;
		width: auto;
		font-size: 12px;
		line-height: 16px;
		display: inline-block;
	}
	.f_cat .more_btn{
		margin-top: 20px;
	}
	.f_cat h3{
		margin-bottom: 13px;
		text-align: left;
	}



}
@media (max-width: 600px) {
	.mainslider .item img{
		object-fit: cover;
		position: absolute;
		width: auto!important;
		max-width: 1000%!important;
		max-height: 100%;
		left: -60px;
		top: 0;
	}
	.mainslider .item{
		height: 190px;
		position: relative;
		overflow: hidden;
	}
}